<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/"><span>Bookers</span></a>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>


    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li>
        <a class="fas fa-home nav-link text-light" href="">Home<% user_path(current_user.id) %></a>
      </li>
      <li>
        <a class="fas fa-users nav-link text-light" href="/users">Users<% users_path%></a>
      </li>
      <li>
        <a class="fas fa-book-open nav-link text-light" href="/books">Books<% books_path %></a>
      </li>
      <li>
        <a class="fas fa-sign-out-alt nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">logout<% destroy_user_session_path %></a>
      </li>
      <% else %>
      <li>
        <a class="fas fa-home nav-link text-light" href="/">Home<% root_path %></a>
      </li>

      <li>
        <a class="fas fa-link nav-link text-light" href="/home/about">About<% homes_path %></a>
      </li>

      <li>
        <a class="fas fa-user-plus nav-link text-light" href="/users/sign_up">Sign up<% new_user_registration_path %></a>
      </li>

      <li>
        <a class="fas fa-sign-in-alt nav-link text-light" href="/users/sign_in">login<% new_user_session_path %></a>
      </li>
      <% end %>
    </ul>
  </div>
 </div>

  </nav>
    <%= render 'layouts/notifications' %>
    <%= yield %>
  </body>
</html>
